//
// Various responses to media queries

//
// mobile-first design
// greater-than approach
@mixin respond-to($media) {
	@if $media == handhelds {
		@media (min-width: 0) { @content; }
	}
	@else if $media == wide-handhelds {
		@media (min-width: 481px) { @content; }
	}
	@else if $media == tablets {
		@media (min-width: 768px) { @content; } // Key
	}
	@else if $media == desktop {
		@media (min-width: 980px) { @content; }
	}
	@else if $media == wide-desktop {
		@media (min-width: 1281px) { @content; } // Key
	}
}

//
// desktop first design
// less-than approach
@mixin respond-to-less($media) {
	@if $media == handhelds {
		@media (max-width: 480px) { @content; }
	}
	@else if $media == wide-handhelds {
		@media (max-width: 767px) { @content; }
	}
	@else if $media == tablets {
		@media (max-width: 979px) { @content; }
	}
	@else if $media == desktop {
		@media (max-width: 1280px) { @content; }
	}
	@else if $media == wide-desktop {
		@media (min-width: 1281px) { @content; }
	}
}

//
// we want to modify a specific query
@mixin respond-to-only($media) {
	@if $media == handhelds {
		@media (max-width: 480px) { @content; }
	}
	@else if $media == wide-handhelds {
		@media (min-width: 481px) and (max-width: 767px) { @content; }
	}
	@else if $media == tablets {
		@media (min-width: 768px) and (max-width: 979px) { @content; }
	}
	@else if $media == desktop {
		@media (min-width: 980px) and (max-width: 1280px) { @content; }
	}
	@else if $media == wide-desktop {
		@media (min-width: 1281px) { @content; }
	}
}