@mixin horz-centered-block($width) {
	left:50%; position:absolute; 

	margin-left:-$width/2; width:$width;
}

@mixin inset-text($background-colour:#666, $shadow-colour:rgba(255,255,255,0.5), $shadow-size:3px) {
	@include single-text-shadow($shadow-colour, 0px, $shadow-size, $shadow-size+1);
	@include background-clip(text);

	background-color:$background-colour; color:transparent;	
}

@mixin social-icon($colour, $border-width:3px) {
	border:$border-width solid $colour;

	&:hover { background:$colour; }
}

@mixin standard-link($normal, $underline, $hover:false) {
	@include link-colors($normal, $hover); border-bottom:1px dotted $underline; 

	&:focus { border:1px dashed; }
	&:hover { @include rgba-background(fade-out($underline, 0.75)); border-bottom:1px solid; }
	&:active { position:relative; top:1px; }
}

@mixin outline($colour:black, $weight:1px) {
	$neg-weight:0-$weight;
	@include text-shadow($colour $weight $weight 0, $colour $neg-weight $neg-weight 0);
}