.row
	section.twelve.columns						
		h3 <b>contact</b> me
		p If you want to hire me, chat about one of my projects, or offer a suggestion of how I can improve, please don't hesitate to <a href="mailto:jesse.c.mcginnis@uwaterloo.ca" title="Shoot me an email" target="_blank">email me</a>.
		p Feel free to also message me on <a title="Like me on Facebook" href="//facebook.com/jcmcginnis" target="_blank" rel="external">Facebook</a>, or <abbr title="Direct Message">DM</abbr> me on <a title="Follow me on Twitter" href="//twitter.com/elsom25" target="_blank" rel="external">Twitter</a>.