.row
	section.four.mobile-two.columns						
		h3 <b>who</b> i am
		p My name's Jesse, and I'm an energetic fourth year <a href="//cs.uwaterloo.ca/" rel="external" target="_blank" title="David R. Cheriton School of Computer Science">Computer Science</a> student with an option in <strong>Software Engineering</strong> at the <a rel="external" target="_blank" title="University of Waterloo" href="//www.uwaterloo.ca/">University of Waterloo</a>.
		p I'm very involved at the University - highlights: being one of few in charge of our Orientation; being an active member of, and sitting on the board of, our student organization, <a rel="external" target="_blank" href="//feds.ca/" title="Federation of Students">Feds</a>; and sitting on the top decision making body of the University, Senate and the Board of Governors.
		p However, come <time title="2013-01-01" datetime="2013-01-01">January 1st, 2013</time>, I&apos;ll be back on coop and anxious to work for an awesome tech company of some variety - it will have been much too long since I&apos;ve gotten my hands dirty on technical work that isn&apos;t a pet-project!

	section.four.mobile-two.columns
		h3 <b>what</b> i do
		p I'm a <strong>developer</strong>, but I'm also a <strong>people person</strong>.
		p I focus on <strong>simple</strong>, <strong>agile</strong>, and <strong>well tested</strong> solutions, and am a firm believer in &quot;less is more.&quot; I have only had the opportunity to work on an agile team for small periods of time, but am absolutely in love with the agile mantra of getting results to customers faster. I also feel very strongly about solid testing&ndash; how else can high-quality be ensured over the lifetime of a project!
		p Over the past two years with <a rel="external" target="_blank"  title="Waterloo Orientation" href="//uwaterloo.ca/orientation/">Orientation</a> and <a rel="external" target="_blank" ref="//feds.ca/" title="Federation of Students">Feds</a>, I&apos;ve come to realize how much I enjoy working with and coaching people to reach their goals and potential.
		p If you're curious, feel free to check out my <a target="_blank" title="Resume" href="/resume">resume</a>.

	section.four.mobile-four.columns
		h3 <b>why</b> i practice
		p I have always been intrigued by how software works&ndash; this is what initially led me to explore Computer Science in High School. From there, my desire to improve and learn, guided by the mentorship of my peers, colleagues, and superiors, has led me to many places. I've read many books, browsed through blogs, and had the pleasure of attending a few tech conferences.
		p Though, why I practice is ultimately to improve <em>someone's</em> life&ndash; to make the customer happy. This isn't always strictly through technology either. My recent exposure managing and mentoring people has both shown me the usefullness of technology, but also it's limitations.