.row
	section.twelve.columns						
		h3 <b>work</b> i've done
		p <strong>I solve problems</strong>, not just write code or manage people.
		p I solve problems in a simple, well communicated, forward thinking, and maintainable way.
		p The projects I can share are from school or pet projects, as the work I've done on co-op is not mine to share&ndash; though if you have any questions, check out my <a href="/resume" title="Resume">resume</a>d, or <a href="/contact/" title="Contact">ask me</a>. You can find most of these projects on <a title="Fork me on Github" href="//github.com/elsom25" target="_blank" rel="external">Github</a> or <a title="Fork me on BitBuckit" href="//bitbucket.org/elsom25" target="_blank" rel="external">BitBuckit</a>.