#body-wrap > footer { background:$darkGray; margin:30px 0 0; color:$medGray;
	@include respond-to-less(wide-handhelds) { text-align:center; }

	h4 { color:white; }
	a { @include standard-link($medGray, mix($medGray, $darkGray), white); }
	ul { @include no-bullet; margin:0 0 10px 0; }

	.social {
		// colours from: http://galengidman.com/brandcolors/
		$fb:#3b5998;
		$twitter:#00a0d1;
		$gplus:#db4a39;
		$github:#5ba525; //evernote
		//$github:#4183c4;
		$linkedin:#ea4c89; //dribble
		//$linkedin:#0e76a8;
		$bitbuckit:#f3ce13; //IMDb

		.icon-facebook { @include social-icon($fb); }
		.icon-twitter { @include social-icon($twitter); }
		.icon-google-plus { @include social-icon($gplus); }
		.icon-github { @include social-icon($github); }
		.icon-linkedin { @include social-icon($linkedin); }
		.icon-heart { @include social-icon($bitbuckit); }

		a { 
			@include border-radius(50%); 
			@include transition(all .3s); 
			@include inline-block();

			margin:0 10px 10px 0; 
			font-size:22px; text-align:center; text-decoration:none; color:white;
			width:38px; height:36px; line-height:30px; 
		}
	}
	.main { padding:15px 0; }
	.secondary { background:$darkDarkGray; padding:10px 0; 
		section { color:$medGray; font-size:.9em; }
		i { color:#AFDBEA; }
	}
}