//
// Global
html { background:$darkDarkGray; }
b { color:$mainColor; font-weight:700; }

::selection { background:$mainColor; color:white; }
::-moz-selection { background:$mainColor; color:white; }

#body-wrap { background:#cfcfcf; }

abbr[title], acronym[title], dfn[title], time[title] { border-bottom:1px solid; cursor:help; }
abbr, acronym, time { font-size:85%; letter-spacing:0.1em; text-transform:uppercase; }
time { text-transform:none; }