#body-wrap > header { @include transition(all .3s); @include background(image-url('city.jpg')); @include background-size(cover);
	@include respond-to(handhelds) { height:250px; }
	@include respond-to(wide-handhelds) { height:400px; }
	@include respond-to(tablets) { height:500px; }

	margin-top:$topBarHeight;

	.selective-show {
		@include respond-to-only(handhelds) { display:none !important; } 
	}

	h1 { @include transition(all .3s); @include outline($darkGray); color:white; padding-top:25px;
		@include respond-to(handhelds) { font-size:75px; padding-top:25px; }
		@include respond-to(wide-handhelds) { font-size:100px; padding-top:25px; }
		@include respond-to(tablets) { font-size:155px; padding-top:25px; }
	}
	h2 { @include transition(all .3s); @include outline(darken($mainColor, 33%)); color:$mainColor; 
		@include respond-to(handhelds) { font-size:30px; }
		@include respond-to(wide-handhelds) { font-size:35px; }
		@include respond-to(tablets) { font-size:45px; }
	}
}