#main { margin:30px 0;
	a { @include standard-link($mainColor, desaturate($mainColor, 15%), darken($mainColor, 15%)); }
	h3 {
		@include respond-to(handhelds) { text-align:center; border-bottom:1px solid $medGray; }
		@include respond-to(tablets) { text-align:left; border-bottom:none; }
	}
	p { text-align:justify; text-justify:inter-word; }
	.row { background:#e3e3e3; }
}