doctype html
/[if lt IE 7]
	| <html class="no-js ie lt-ie9 lt-ie8 lt-ie7" lang="en">
/[if IE 7]
	| <html class="no-js ie lt-ie9 lt-ie8" lang="en">
/[if IE 8]
	| <html class="no-js ie lt-ie9" lang="en">
/[if IE 9]
	| <html class="no-js ie ie9" lang="en">
| <!--[if (gte IE 9)|!(IE)]<!-->
html class="no-js" lang="en"
	| <!--<![endif]-->

	head
		meta charset="utf-8"

		/! See: http://html5boilerplate.com/
		meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"
		meta name="viewport" content="width=device-width"

		meta name="description" content="The personal portfolio of Jesse McGinnis- showcasing my best, most recent, coding projects and website designs."
		meta name="keywords" content=""

		title="Portfolio | Jesse McGinnis"

		/! IE6 gets its own special design
		/[if lte IE 6]
			link rel="stylesheet" href="http://universal-ie6-css.googlecode.com/files/ie6.1.1b.css" media="screen, projection"
		| <!--[if ! lte IE 6]><!-->
		/ link rel="stylesheet" href="/css/foundation.top-bar.css"
		link rel="stylesheet" href="/css/app.css"
		| <!--<![endif]-->
		
		/! Support older browsers
		script src="/js/lib/modernizr.foundation.js"
		/[if lt IE 9]
			script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"

	body
		#body-wrap
			.fixed
				nav.top-bar
					ul
						li.name: h1: a href="//jcmcginnis.com/" <b>jc</b>mcginnis
						li.toggle-topbar: a href="#"
					section
						ul.right#main-nav
							li.divider
							li: a href="/" Home
							li.divider
							li: a href="/my-work" My Work
							li.divider
							li: a href="/contact" Contact

			header
				.row
					.twelve.columns.center
						h1.text-center 
							| Jesse 
							span.selective-show McGinnis
						h2.text-center computer scientist extraordinaire

			#main role="main"
				== yield

			footer
				section.main
					.row
						section.four.push-four.mobile-four.columns.social
							h4 Be Social
							p Stay in touch on social networks.
							a.icon-facebook title="Like me on Facebook" href="//facebook.com/jcmcginnis" target="_blank" rel="external"
							a.icon-twitter title="Follow me on Twitter" href="//twitter.com/elsom25" target="_blank" rel="external"
							a.icon-google-plus title="+1 me on Google+" href="//plus.google.com/107489015048288511854/about" target="_blank" rel="external"
							a.icon-github title="Fork me on Github" href="//github.com/elsom25" target="_blank" rel="external"
							a.icon-heart title="Fork me on BitBuckit" href="//bitbucket.org/elsom25" target="_blank" rel="external"
							a.icon-linkedin title="Check me out on LinkedIn" href="//www.linkedin.com/in/jessemcginnis" target="_blank" rel="external"
							
						section.four.pull-four.mobile-two.columns
							h4 Quick Links
							.row
								.six.columns#footer-nav
									ul
										li: a href="/" Home
										li: a href="/my-work" My Work
										li: a href="/contact" Contact
								.six.columns
									ul
										li: a href="/resume" Resume

						section.four.mobile-two.columns
							h4 Favourites
							.row
								.six.columns
									ul
										li: a href="http://oleksiderkatch.blogspot.ca/" target="_blank" title="Oleksi Derkatch's Blog" rel="external" Oleksi Derkatch
										/li: a href="#" rel="external" Jonathan Jekir
								.six.columns
									ul
										li: a href="http://fortawesome.github.com/Font-Awesome/" target="_blank" rel="external" title="Iconic Font Framework Font Awesome" Font Awesome
										li: a href="http://foundation.zurb.com/" target="_blank" rel="external" title="Zurb Foundation Responsive Framework" Zurb Foundation
										li: a href="http://compass-style.org/" target="_blank" rel="external" title="Sass CSS Authoring Framework" Compass

				section.secondary
					.row
						.four.columns 
							i &copy;
							|  2010&mdash;2012 Jesse McGinnis
						.four.columns
							i.icon-phone
							'  
							a href="tel://1-226-868-0808" title="Call me maybe?" +1 (226) 868-0808
						.four.columns
							i.icon-envelope-alt
							'  
							a href="mailto:jesse.c.mcginnis@uwaterloo.ca" title="Shoot me an email" target="_blank" jesse.c.mcginnis@uwaterloo.ca

		/! Javascript Loader: http://headjs.com/#usage  
		script src="/js/lib/head.load.min.js"
		script src="/js/bootstrap.js"
		script
			| var _gaq=[['_setAccount','UA-8016020-1'],['_trackPageview']];
			| (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
			| g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
			| s.parentNode.insertBefore(g,s)}(document,'script'));